<div class="authentication sign-up">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <header>
    <div class="login-header header">
      <div>
        <%= link_to raw('<i class="fa-solid fa-arrow-left-long"></i>'), unauthenticated_root_path %>
        
      </div>
      <p>REGISTER</p>
      <div class="action">
        <%= f.submit "Next" %>
      </div>
    </div>
  </header>


    <div class="input-container">
    <div class="profile">

    </div>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name",  placeholder: "Full name", required: true  %>

      <%= f.label :photo %>
      <%= f.text_field :photo, placeholder: "Photo URL", required: false %>

      <%= f.label :email %>
      <%= f.email_field :email,  autocomplete: "email", placeholder: "Email", required: true  %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password", minlength: 6, required: true %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", required: true %>
    </div>
  <% end %>

</div>

<%# <%= render "devise/shared/links" %> 
